{% extends "base.html" %}
{% block content %}
  <h3>Регистрация</h3>
  <form method="post" class="mt-3">
    <div class="mb-3">
      <label class="form-label">Имя пользователя</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Пароль</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Зарегистрироваться</button>
  </form>
{% endblock %}
