name: Проверка проекта

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    name: Тестирование и анализ безопасности
    runs-on: ubuntu-latest

    steps:
      - name: Загрузка репозитория
        uses: actions/checkout@v4

      - name: Установка Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Установка зависимостей
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Добавление пути проекта (PYTHONPATH)
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Запуск unit-тестов (pytest)
        run: pytest -q

      - name: Проверка безопасности кода (Bandit)
        run: bandit -r app -q
